<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" href="/css/programList.css">
	
<th:block th:replace="~{./include/baseLayout :: setContent(~{ :: .wrap})}">

	
	<div class="wrap">
     <div class="reg-title">
        <p>프로그램 신청내역 조회</p>
      </div>
    <div class="middle">
      <div class="total">
        <p>총 신청횟수 : 200</p>
      </div>
      <div class="search">
        <form action="">
        <select name="" id="">
          <option value="">제목</option>
          <option value="">내용</option>
        </select>
        <input type="text">
       <button type="button">검색</button>
      </form>
      </div>
    </div>
      <table class="content-wrap">
          <tr class="first">
            <td>번호</td>
            <td>프로그램 이름</td>
            <td>프로그램 신청일</td>
            <td>신청결과</td>
            <td>수료여부</td>
            <td>프로그램 장소</td>
    		<td>옵션</td>
          </tr>
        <th:block th:each="vo,status : ${list}">
        <tr>
          <td>[[${status.count}]]</td>
          <td>[[${vo.EVNT_NM}]]</td>
          <td th:text="${#strings.substring(vo.EVNT_REG_YMD,0,10)}"></td>
          <td>[[${vo.EVNT_REG_YN}]]</td>
          <td>[[${vo.EVNT_END_YN}]]</td>
          <td>[[${vo.EVNT_PLC_NM}]]</td>
          <td><button type="button"  th:onclick="|location.href='@{deleteApply(EVNT_REG_NO=${vo.EVNT_REG_NO})}'|" class="applyBtn">신청취소</button></td>
        </tr>
        </th:block>
      </table>
      <div class="page-wrap">
        <span><a href="#">◁</a></span>
        <span><a href="#">1</a></span>
        <span><a href="#">1</a></span>
        <span><a href="#">1</a></span>
        <span><a href="#">1</a></span>
        <span><a href="#">▷</a></span>
        </div>

  </div>
</html>