<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setContent (content )">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <script th:src="@{/js/jquery.min.js}"></script>
  <link rel="stylesheet" th:href="@{/css/baseLayout.css}">
  <script defer th:src="@{/js/baseLayout.js}"></script>
  

</head>
<body>
  <div class="header">
    <div><span class="title">우리 보건실</span></div>
    <div><button type="button" class="headerBtn">로그아웃</button></div>
  </div>
  <div class="section">
  <div class="sidenav">
    <div class="menu1-wrap">
      <div class="menu"><span>프로그램</span></div>
      <div class="menu1-content">
        <div class="menu1 reg"><span><a th:href="@{programReg}">프로그램 등록</a></span></div>
        <div class="menu1 list"><span><a th:href="@{programList}">프로그램 내역</a></span></div>
        <div class="menu1 aply"><span><a th:href="@{programApply}">프로그램 신청내역</a></span></div>  
      </div>
    </div>
    <div class="menu2-wrap">
      <div class="menu"><span>상담</span></div>
      <div class="menu2-content">
        <div class="menu2 list"><span>상담내역</span></div>
      </div>
    </div>
    <div class="menu3-wrap">
      <div class="menu"><span>의약품</span></div>
      <div class="menu3-content">
        <div class="menu3 reg"><span>의약품등록</span></div>
        <div class="menu3 list"><span>의약품 입출고내역</span></div>
        <div class="menu3 info"><span>의약품관리</span></div>
      </div>
    </div>
    <div class="menu4-wrap">
      <div class="menu"><span>의료기기</span></div>
      <div class="menu4-content">
        <div class="menu4 list"><span>의료기기 신청내역</span></div>
        <div class="menu4 rent"><span>의료기기 관리</span></div>
      </div>
    </div>
  </div>
    <th:block th:replace=${content}>
    </th:block>
  </div>
</body>
	</th:block>
	
	
	<script>
  
  
  $(".menu").on("click",(function(){
    
    $(this).toggleClass("active");


    $(".menu").each(function(){


      if($(this).hasClass("active")){
        $(this).next().css('display','block');
        $(this).css('backgroundColor','#344765');
        $(this).css('backgroundColor','#344765');
      }else{
        $(this).next().css('display','none');
        $(this).css('backgroundColor','#1b2536');
        $(this).parent().css('backgroundColor','#1b2536');
      }
    })
  }));
</script>
</html>