@charset "UTF-8";

     .wrap{
      width: 1400px;
      margin: 0 auto;
    }
	
	
    .reg-title {
      border-top: 2px solid #000;
      border-bottom: 3px solid #ccc;
      padding-left: 10px;
      margin-top : 50px;
    }
    
     .reg-title > p {
      font-size: 20px;
      font-weight: bold;
      padding-left: 10px;

    }
	
    .middle {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #000;
      padding-bottom: 50px;
    }

    .middle .total {
      margin-left: 40px;
      font-size: 20px;
      font-weight: 700; 
    }

    .middle .search {
      margin-right: 40px;
      padding-top: 6px;
    }

    .middle .search input {
      border: none;
      border-bottom: 2px solid #ccc;
      padding: 14px;
    }

    .middle .search select {
      border: none;
      padding: 13px;
      border-bottom: 2px solid #ccc;
      font-weight: 700;
      background-color: rgb(189, 253, 189);
      border-radius: 10px;
      color: black
    }
    .middle .search button {
      border: none;
      padding: 13px;
      border-bottom: 2px solid white;
      cursor: pointer;
      font-weight: bold;
      background-color: rgb(189, 253, 189);
      border-radius: 10px;
    }
    
    .content-wrap {
      width: 100%;
      padding: 10px;
      border-collapse: collapse;
    }

    .content-wrap .first td {
      padding: 20px;
      text-align: center;
      font-weight: bold;
    }

    .content-wrap tr {
      border-bottom: 1px solid #ccc;
    }

    .content-wrap .first {
      border-bottom: 3px solid #ccc;
    }
    .content-wrap td {
      padding: 20px;
      text-align: center;
    }

    .content-wrap .update {
      background-color: rgb(189, 253, 189);
      color: black;
      border: none;
      font-size: 15px;
      font-weight: 100px;
      cursor: pointer;
    }
    .content-wrap .delete {
      background-color: white;
      color: black;
      border: none;
      font-size: 15px;
      font-weight: 100px;
      cursor: pointer;
    }

    .page-wrap {
      text-align: center;
      margin-top: 50px;
    }

    .page-wrap > span {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 10px;
    }

    .page-wrap > span > a {
      text-decoration: none;
      color: #000;
      font-weight: bold;
    }


    .page-wrap > span:hover {
      background-color: rgb(189, 253, 189);
    }

    .reg-wrap{
      text-align: right;
      padding-right: 70px;
      margin-top: 20px;
    }

    .reg-wrap > button {
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
      background-color: rgb(189, 253, 189);
      border: none;
      font-weight: bold;
    }