<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.teamus.medic.program.service.ProgramMapper">

<insert id="programRegist">
	INSERT INTO CLNC_LIST(EVNT_NM,EVNT_CN,EVNT_BGNG_YMD,EVNT_END_YMD,EVNT_PLC_NM,EVNT_APLY_BGNG_YMD,EVNT_APLY_END_YMD)
	VALUES(#{EVNT_NM},#{EVNT_CN},#{EVNT_BGNG_YMD},#{EVNT_END_YMD},#{EVNT_PLC_NM},#{EVNT_APLY_BGNG_YMD}
								,#{EVNT_APLY_END_YMD})
</insert> 

 <select id="getProgramList" resultType="ProgramVO">
 select * from CLNC_LIST ORDER BY EVNT_NO DESC;
</select>
 <select id="getDetail" resultType="programVO">
 select * from CLNC_LIST WHERE EVNT_NO = #{EVNT_NO}
</select>

<update id="programUpdate">
	UPDATE CLNC_LIST SET EVNT_NM = #{EVNT_NM} , EVNT_APLY_BGNG_YMD = #{EVNT_APLY_BGNG_YMD} , EVNT_APLY_END_YMD = #{EVNT_APLY_END_YMD}
		  , EVNT_BGNG_YMD = #{EVNT_BGNG_YMD} , EVNT_END_YMD = #{EVNT_END_YMD}, EVNT_PLC_NM = #{EVNT_PLC_NM}
		  , EVNT_CN = #{EVNT_CN} where EVNT_NO = #{EVNT_NO}
</update>

<delete id="programDelete">
	delete from CLNC_LIST where EVNT_NO = #{EVNT_NO}
</delete>

<select id="getProgramRegList" resultType="ProgramRegVO">
	select * from CLNC_REG R LEFT JOIN CLNC_LIST L ON R.EVNT_NO = L.EVNT_NO ORDER BY EVNT_REG_NO DESC;
</select>

<select id="getUser" resultType="UserVO">
select * from USER where USER_NO = #{USER_NO};
</select>

<insert id="programUserRegist">
	insert into CLNC_REG(EVNT_NO,USER_NO)VALUES(#{EVNT_NO} , #{USER_NO})
</insert>

<delete id="deleteApply">
	delete from CLNC_REG where EVNT_REG_NO = #{EVNT_REG_NO}
</delete>

<select id="getProgramApplyList" resultType="programRegVO">
	SELECT * FROM CLNC_REG R LEFT JOIN USER U ON R.USER_NO = U.USER_NO
	LEFT JOIN CLNC_LIST L ON R.EVNT_NO = L.EVNT_NO
</select>

<update id="applyUpdate">
	update CLNC_REG set EVNT_REG_YN = 'Y' where EVNT_REG_NO = #{EVNT_REG_NO}
</update>

<update id="successUpdate">
	update CLNC_REG set EVNT_END_YN = 'Y' where EVNT_NO = #{EVNT_NO}
</update>
</mapper>